<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="https://schemas.android.com/apk/res/android"
    package="com.android.carrierconfig.carrierconfigoverlay">
    <application android:hasCode="false" />
    <overlay
      android:targetPackage="com.android.carrierconfig"
      android:isStatic="true"
      android:priority="0"/>
</manifest>
